<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.7.8.6" targetFramework="net472" />
  <package id="AWSSDK.CostAndUsageReport" version="3.7.0.132" targetFramework="net472" />
  <package id="AWSSDK.CostExplorer" version="3.7.4.9" targetFramework="net472" />
  <package id="AWSSDK.DynamoDBv2" version="3.7.3.6" targetFramework="net472" />
  <package id="AWSSDK.Extensions.NETCore.Setup" version="3.7.1" targetFramework="net472" />
  <package id="AWSSDK.KeyManagementService" version="3.7.2.76" targetFramework="net472" />
  <package id="AWSSDK.Kinesis" version="3.7.1.27" targetFramework="net472" />
  <package id="AWSSDK.Lambda" version="3.7.9.3" targetFramework="net472" />
  <package id="AWSSDK.S3" version="3.7.8.3" targetFramework="net472" />
  <package id="AWSSDK.SecretsManager" version="3.7.2.12" targetFramework="net472" />
  <package id="AWSSDK.SecurityToken" version="3.7.1.122" targetFramework="net472" />
  <package id="AWSSDK.SimpleEmail" version="3.7.0.131" targetFramework="net472" />
  <package id="AWSSDK.SimpleNotificationService" version="3.7.3.31" targetFramework="net472" />
  <package id="AWSSDK.SimpleSystemsManagement" version="3.7.12.18" targetFramework="net472" />
  <package id="AWSSDK.SQS" version="3.7.2.28" targetFramework="net472" />
  <package id="dotenv.net" version="3.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
</packages>